@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slow-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* Adjust the height of the bounce */
  }
}

.animate-slow-bounce {
  animation: slow-bounce 3s ease-in-out infinite; /* Adjust the duration for slower bounce */
}


html {
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Light gray for the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: gray; /* Gray color for the thumb */
    border-radius: 20px; /* Rounded edges for the thumb */
  }
  